.panel-body {
  padding: 0px;
}

.question-title {
  background-color: #BEDAF6;
  text-indent: 15px;
}

.question-body {
  padding-left: 15px;
  padding-right: 15px;
}

.result-row {
  margin-top: 20px;
  height: 300px;
}

.result-row img {
  max-height: 275px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.result-wrapper {
  padding: 5% 0;
}

.result-text {
  font-size: 18px;
  padding: 5% 5%;
}

.result-text ul {
  list-style-position: inside;
  text-indent: -2em;
  padding-left: 2;
}

.result-text li {
  padding: 5px 0;
}

.survey-result {
  display: none;
}

.bottom-line {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
